*.class
target/
.classpath
.project
.settings
*/src/main/java/META-INF/
*.log
*.swp
*.diff
*.patch

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
